body {
  font-family: 'Work Sans', sans-serif;
  --bs-body-font-weight: 300;
}

.headerContainer {
  background-image: url(../../assets/img/headerTwo.png);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  max-width: 960px;
}

.text-badge {
  padding: .1em .4em;
  background: var(--bs-dark);
}

.banner {
  padding: 2em 1em;
  text-align: center;
  background: var(--bs-primary);
  border-radius: 1em;
}

.projects {
  --bs-gutter-y: 1.5rem;
}

footer {
  background: var(--bs-gray-900);
}

